@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

img {
  border: 0;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-style: normal;
}

body {
  overflow-x: hidden;
}
body.hidden {
  overflow-y: hidden;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bg {
  background-image: url(https://raw.githubusercontent.com/interaminense/repository-codepen/master/neon-codepen/bg-neon.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 1250px;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper {
  position: absolute;
  width: auto;
  height: 150px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.wrapper h1 {
  font-size: 100px;
  margin: 0;
  font-weight: normal;
}

.wrapper h2 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  line-height: 10px;
}

.font1 {
  font-family: "Monoton", cursive;
}

.font2 {
  font-family: "Great Vibes", cursive;
}

.input-text {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 280px;
  padding: 5px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Monoton", cursive;
  font-size: 35px;
  box-shadow: 15px 15px 23px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 1;
}

.buttons {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.buttons button {
  float: left;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
}

button.btn-pink {
  background-color: #E91E63;
}

button.btn-yellow {
  background-color: #FFC107;
}

button.btn-green {
  background-color: #8BC34A;
}

button.btn-blue {
  background-color: #03A9F4;
}

main.pink {
  animation: bgNeon-1 3s infinite;
}
main.pink .input-text {
  color: #E91E63;
}
main.pink .wrapper h1 {
  animation: neon2-1 3s infinite;
}
main.pink .wrapper h2 {
  text-shadow: 0 0 10px #E91E63, 0 0 30px rgb(233, 30, 200.5);
  color: #E91E63;
}
@keyframes neon2-1 {
  0% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px rgb(246.6275303644, 169.3724696356, 195.6315789474), 0 0 280px rgb(233, 30, 200.5);
  }
  80% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px rgb(246.6275303644, 169.3724696356, 195.6315789474), 0 0 280px rgb(233, 30, 200.5);
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  95% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px rgb(246.6275303644, 169.3724696356, 195.6315789474), 0 0 280px rgb(233, 30, 200.5);
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  97% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px rgb(246.6275303644, 169.3724696356, 195.6315789474), 0 0 280px rgb(233, 30, 200.5);
  }
  98% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px rgb(246.6275303644, 169.3724696356, 195.6315789474), 0 0 280px rgb(233, 30, 200.5);
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  100% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px rgb(246.6275303644, 169.3724696356, 195.6315789474), 0 0 280px rgb(233, 30, 200.5);
  }
}
@keyframes bgNeon-1 {
  0% {
    background-color: rgb(53.7449392713, 5.2550607287, 45.9817813765);
  }
  80% {
    background-color: rgb(53.7449392713, 5.2550607287, 45.9817813765);
  }
  81% {
    background-color: #111;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: rgb(53.7449392713, 5.2550607287, 45.9817813765);
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: rgb(53.7449392713, 5.2550607287, 45.9817813765);
  }
  98% {
    background-color: rgb(53.7449392713, 5.2550607287, 45.9817813765);
  }
  99% {
    background-color: #111;
  }
  100% {
    background-color: rgb(53.7449392713, 5.2550607287, 45.9817813765);
  }
}

main.yellow {
  animation: bgNeon-2 3s infinite;
}
main.yellow .input-text {
  color: #FFC107;
}
main.yellow .wrapper h1 {
  animation: neon2-2 3s infinite;
}
main.yellow .wrapper h2 {
  text-shadow: 0 0 10px #FFC107, 0 0 30px #ff4507;
  color: #FFC107;
}
@keyframes neon2-2 {
  0% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px rgb(255, 231.25, 160), 0 0 280px #ff4507;
  }
  80% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px rgb(255, 231.25, 160), 0 0 280px #ff4507;
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  95% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px rgb(255, 231.25, 160), 0 0 280px #ff4507;
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  97% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px rgb(255, 231.25, 160), 0 0 280px #ff4507;
  }
  98% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px rgb(255, 231.25, 160), 0 0 280px #ff4507;
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  100% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px rgb(255, 231.25, 160), 0 0 280px #ff4507;
  }
}
@keyframes bgNeon-2 {
  0% {
    background-color: rgb(58, 14.5, 0);
  }
  80% {
    background-color: rgb(58, 14.5, 0);
  }
  81% {
    background-color: #111;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: rgb(58, 14.5, 0);
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: rgb(58, 14.5, 0);
  }
  98% {
    background-color: rgb(58, 14.5, 0);
  }
  99% {
    background-color: #111;
  }
  100% {
    background-color: rgb(58, 14.5, 0);
  }
}

main.green {
  animation: bgNeon-3 3s infinite;
}
main.green .input-text {
  color: #8BC34A;
}
main.green .wrapper h1 {
  animation: neon2-3 3s infinite;
}
main.green .wrapper h2 {
  text-shadow: 0 0 10px #8BC34A, 0 0 30px rgb(195, 190.5, 74);
  color: #8BC34A;
}
@keyframes neon2-3 {
  0% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px rgb(212.643153527, 233.0912863071, 188.9087136929), 0 0 280px rgb(195, 190.5, 74);
  }
  80% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px rgb(212.643153527, 233.0912863071, 188.9087136929), 0 0 280px rgb(195, 190.5, 74);
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  95% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px rgb(212.643153527, 233.0912863071, 188.9087136929), 0 0 280px rgb(195, 190.5, 74);
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  97% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px rgb(212.643153527, 233.0912863071, 188.9087136929), 0 0 280px rgb(195, 190.5, 74);
  }
  98% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px rgb(212.643153527, 233.0912863071, 188.9087136929), 0 0 280px rgb(195, 190.5, 74);
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  100% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px rgb(212.643153527, 233.0912863071, 188.9087136929), 0 0 280px rgb(195, 190.5, 74);
  }
}
@keyframes bgNeon-3 {
  0% {
    background-color: rgb(48.8174273859, 47.6037344398, 16.1825726141);
  }
  80% {
    background-color: rgb(48.8174273859, 47.6037344398, 16.1825726141);
  }
  81% {
    background-color: #111;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: rgb(48.8174273859, 47.6037344398, 16.1825726141);
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: rgb(48.8174273859, 47.6037344398, 16.1825726141);
  }
  98% {
    background-color: rgb(48.8174273859, 47.6037344398, 16.1825726141);
  }
  99% {
    background-color: #111;
  }
  100% {
    background-color: rgb(48.8174273859, 47.6037344398, 16.1825726141);
  }
}

main.blue {
  animation: bgNeon-4 3s infinite;
}
main.blue .input-text {
  color: #03A9F4;
}
main.blue .wrapper h1 {
  animation: neon2-4 3s infinite;
}
main.blue .wrapper h2 {
  text-shadow: 0 0 10px #03A9F4, 0 0 30px rgb(3, 244, 198.5);
  color: #03A9F4;
}
@keyframes neon2-4 {
  0% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px rgb(146.3360323887, 220.2631578947, 253.6639676113), 0 0 280px rgb(3, 244, 198.5);
  }
  80% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px rgb(146.3360323887, 220.2631578947, 253.6639676113), 0 0 280px rgb(3, 244, 198.5);
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  95% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px rgb(146.3360323887, 220.2631578947, 253.6639676113), 0 0 280px rgb(3, 244, 198.5);
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  97% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px rgb(146.3360323887, 220.2631578947, 253.6639676113), 0 0 280px rgb(3, 244, 198.5);
  }
  98% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px rgb(146.3360323887, 220.2631578947, 253.6639676113), 0 0 280px rgb(3, 244, 198.5);
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px rgb(99, 74, 82), -2px 0px 4px #29121A;
  }
  100% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px rgb(146.3360323887, 220.2631578947, 253.6639676113), 0 0 280px rgb(3, 244, 198.5);
  }
}
@keyframes bgNeon-4 {
  0% {
    background-color: rgb(0.5222672065, 42.4777327935, 34.5566801619);
  }
  80% {
    background-color: rgb(0.5222672065, 42.4777327935, 34.5566801619);
  }
  81% {
    background-color: #111;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: rgb(0.5222672065, 42.4777327935, 34.5566801619);
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: rgb(0.5222672065, 42.4777327935, 34.5566801619);
  }
  98% {
    background-color: rgb(0.5222672065, 42.4777327935, 34.5566801619);
  }
  99% {
    background-color: #111;
  }
  100% {
    background-color: rgb(0.5222672065, 42.4777327935, 34.5566801619);
  }
}

/*# sourceMappingURL=text.css.map */
